  
<launch>
  <node pkg="nodelet" type="nodelet" name="remote_nodelet_manager" args="manager" output="screen"/>    
    <!-- sd point cloud (512 x 424) -->
    <node pkg="nodelet" type="nodelet" name="kinect2_points_xyzrgb_sd"
        args="load depth_image_proc/point_cloud_xyzrgb remote_nodelet_manager" respawn="true">
        <remap from="rgb/camera_info"             to="kinect2/sd/camera_info" />
        <remap from="rgb/image_rect_color"        to="kinect2/sd/image_color_rect/compressed" />
        <remap from="depth_registered/image_rect" to="kinect2/sd/image_depth_rect/compressed" />
        <remap from="depth_registered/points"     to="kinect2/sd/points" />
        <param name="queue_size" type="int" value="5" />
        <param name="depth_image_transport" value="compressed"/>
    </node>
</launch>
